# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
.env
venv/
ENV/
env/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files, datasets
*.pt
*.pth
*.ckpt
*.h5
*.tflite
*.onnx
*.pb
*.weights
*.log

# Compressed files
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# Ignore folders
archive/
data/

# OS-specific files
.DS_Store
Thumbs.db

